@import '@styles/vars.scss';
#nav{
    width: 100%;
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    background-color: $blue-dark;
    padding: 0rem 1rem;
    box-sizing: border-box;
    align-content: center;
    .nav-left{
        display: flex;
        align-items: center;
    }
    .nav-right{
        display: flex;
        justify-content: right;
        align-items: center;
        box-sizing: border-box;
            a{
                padding:0.5rem 0.5rem;
                border:1px solid transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                img{
                    transition: all 0.1s ease-in-out;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }


    }
}